body {
  background-color: #8CF187;
}

#title-jack {
  color: red;
}

h1 {
  font-size: 3rem;
}

.main {
  text-align: center;
  margin-top: 0;
}

.cards {
  margin: 0 auto;
}

.card-black, .card-red {
  height: 6rem;
  width: 4rem;
  background-color: white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-red {
  color: red;
}
