body {
  background-color: #339410;
}

#title-jack {
  color: red;
}

.card-black, .card-red {
  height: 3rem;
  width: 2rem;
  background-color: white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-red {
  color: red;
}

.cards {

}
